{% extends "base.html" %}
{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">{{ workout.name }}</h4>
		        </div>
		        {{activity.workout}}
		        <div class="content">
					{% for activity in workout.activities.all %}
					    <div class="typo-line">
					        <p class="category">{{activity.name}}</p><p>{% for set in activity.sets.all  %}
					    		{{ set.reps }} reps @ {{ set.weight }} lbs </br>
					    {% endfor %}</p>
					    </div>
						{% endfor %}
						<a href="{% url 'workouts:activity-create' workout.id %}" class="btn btn-info btn-fill" role="button">Add an activity</a>
						<a href="{% url 'workouts:workout-update' workout.id %}" class="btn btn-info btn-fill" role="button">Update Workout</a>
				</div>
    </div>
</div>
{% endblock content %}