  {% extends "base.html" %}
{% block content %}             

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Delete {{ object }}</h4>
		</div>
        <div class="content">
			<form action="" method="post">{% csrf_token %}
			 <p>Are you sure you want to delete "{{ object }}"?</p>
			    <button type="submit" class="btn btn-info btn-fill pull-left" value="Confirm">Confirm</button>
			    <div class="clearfix"></div>
			</form>
		</div>
	</div>
</div>

{% endblock content %}